@media(max-width:376px) {
    .container {
        width: 327px;
        margin: 0 auto;
    }

    body {
        width: 327px;
        margin: 0 auto;
    }

    .phone-img {
        height: 18px;
        width: 163px;
    }

    body {
        width: 375px;
    }

    .header {
        width: 327px;
        margin: 0 auto;
    }

    .for-image-header {
        display: block;
    }

    .header-item {
        display: none;

    }


    /* header-section end */

    /* hero section start */

    .hero {
        width: 327px;
        height: 400px;
        background-image: url(../image/Object21.png);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }


    .hero-title {
        text-align: center;

        font-size: 28px;
        margin: 0;

    }

    .hero-text {
        text-align: center;
        width: 279px;
        font-size: 15px;
        margin-top: 24px 0;
    }


    .image-desktop {
        display: none;
    }

    .image-tablet {
        width: 327px;
        display: block;
    }

    /* hero section end  */



    /* our section start */
    .our {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .our__text-tittle {
        margin-top: 30px;
        font-size: 32px;
    }

    .our__text-text {
        margin-top: 30px;
        width: 327px;

    }

    /* our section end */

    /* quality section start */

    .quality {
        width: 347px;
        height: 600px;
        padding: 0;
        padding-top: 120px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .quality__tittle {
        width: 279px;
    }

    .quality__text {
        width: 279px;
    }

    .quality__img {
        display: none;
    }

    .quality-tablet {
        width: 300px;
        display: block;
        position: absolute;
        left: 25px;
        bottom: 520px;
    }

    /* quality section end */


    /* head section start */
    .head {
        text-align: center;
        margin: 0;
        width: 327px;
    }

    .head__list {
        margin-top: 20px;
    }

    .head-item {
        width: 327px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 70px 0;
    }

    .header__list-tittle {
        font-style: 28px;

    }

    .header__list-text {
        font-style: 16px;
    }

    /* head section end */

    .footer {
        margin-bottom: 50px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }


    .footer-item {
        flex-direction: column;
        align-items: center;
    }

    .footer__list {
        text-align: center;
        flex-direction: column;
        margin: 49px;
    }

    .footer__list>li {
        margin: 10px 0;

    }


    /* footer end */




}